/target/
.idea/
.settings/
/cucumber.json
.gradle
*.iml
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat
/build/
/bin/
/libs/selenium-taf.jar
.classpath
.project
/logs/
selenium-taf.log
work/
/classes/
/out/
/allure-report/